<h1>Downloads</h1>

 
 <h3> Think you got what it takes to be the next big thing?</h3>
 <p> If so then why not showcase your talent and download the legendary track below in an acapella form, do your own remix to it and send it via email to competition@rockazine.com for your chance to be supporting Noel Gallagher's High Flyin Birds as a DJ on their recent tour. Just right click and save the audio file on to your desktop and get started.</p>
 
 
 
 
 <a href="/images/Wonderwall (Acapella).WAV">Wonderwall Acapella</a> 
 
 <h3> Download the song of the week for free</h3>
<p>  This we will be treating you all with an extremely rare and unreleased track by The Stone Roses</p>

 <a href="/images/GoingDown.WAV">Going Down</a> 
 
